{% extends "base/base.html" %}

{% block title %}
Activation Email Sent
{% endblock %}

{% block content %}
<div class="ly_col_M">
	<div class="ly_M_head"></div>
	<div class="ly_M_body">
	<div id="ly_register" class="ly_box">
		<h3>Thank you for signing up.</h3>
		<p>We just sent you an email with the activation link to your inbox.  We regularly delete unconfirmed accounts.  This is done in an effort to offer you a great experience.</p>
		<p>Our email has the subject 'Account activation'.</p>
	</div>
	</div>
	<div class="ly_M_foot"></div>
</div>
{% endblock %}