{% extends "base/base.html" %}
{% load i18n %}
{% block title %}{{ title|capfirst }}{% endblock %}
{% block extrameta %}{% endblock %}
{% block content %}
<div class="am_col_M_full">
	<div class="am_M_head"></div>
	<div class="am_M_body clearfix">
		<div id="am_profile" class="am_box">
			<div class="am_fb_data">
				<div id="am_profile_image"><h1>?</h1></div>
			</div>
			<div class="am_content" style="float:left;width:700px;">			
				<h1 class="am_link_profile_title">
					<a href="http://{{ company.root_url }}">{{ company.root_url|capfirst }}</a>
				</h1>
				<p id="am_slug">
					<strong class="am_b_links">{{ company_link_count }}</strong> shared link{{ company_link_count|pluralize }}. 
					{{ company_touch_count }} interaction{{ company_touch_count|pluralize }}.
				</p>

			{% if user.is_authenticated %}
			{% endif %}
			</div>
		</div>
	</div>
	<div class="am_M_foot"></div>
</div>
{% endblock %}