{% extends "base/base.html" %}
{% load i18n %}
{% block title %}500{% endblock %}

{% block contentclass %}ly_col_MI{% endblock %}
{% block content %}
<div class="ly_col_M">
	<div class="ly_M_head"></div>
	<div class="ly_M_body">
	<div id="ly_page_error" class="ly_box">
		<h1>500 - The server encountered an error. We apologize for any inconvenience.</h1>
	</div>
	<div class="ly_M_foot"></div>
</div>
<div class="ly_col_I">
	<div class="ly_I_head"></div>
	<div class="ly_I_body">
		<div class="ly_tip">
			<h5>Food for thought:</h5>
			<p>The Internet accounts for 33 percent of hiring results.</p>
		</div>
	</div>
	<div class="ly_I_foot"></div>
</div>
{% endblock %}
